
@{
    ViewBag.Title = "Delete User";
}

<div class="regSite">
    <div class="jumbotron">
        <h2>@ViewBag.Title</h2>

        @using (Html.BeginForm("DeleteUser", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Are you sure you want to delete your user and all the book collections.</h4>
            <hr />
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Yes" class="btn btn-default" />
                    @Html.ActionLink("Cancel", "Manage", "Account")
                </div>
            </div>
        }
    </div>
</div>