@{
    ViewBag.Title = "About";
}
<div class="regSite">
    <div class="jubotron">
        <h1>About</h1>
        <p>Document and manage your book collection easy!</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Step 1</h2>
            <p>Create a user.</p>
        </div>
        <div class="col-md-4">
            <h2>Step 2</h2>
            <p>Create a booklist.</p>
        </div>
        <div class="col-md-4">
            <h2>Step 3</h2>
            <p>Maintain your booklist easy on any device.</p>
        </div>
    </div>
</div>
