@{
    ViewBag.Title = "Home";
}
<div class="regSite">
    <div class="jumbotron">
        <h1>Book Collection</h1>
        <p class="lead">The easy way to manage and update your Book Collections</p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>@Html.ActionLink("Register a new user", "Register", "Account")</h2>
        </div>
        <div class="col-md-4">
            <h2 style="vertical-align: middle; text-align: center;">Or</h2>
        </div>
        <div class="col-md-4">
            <h2>@Html.ActionLink("Login on an existing user", "Login", "Account")</h2>
        </div>
    </div>
</div>